<template lang="pug">
  #main
    h1 INDEX
    p This was rendered by the {{ renderer }}
    nuxt-link(to="/messages") messages
</template>

<script>
export default {
  asyncData ({ req, }) {
    return {
      renderer: req ? 'server' : 'client',
    }
  }
}
</script>
