<template lang="pug">
  #main
    h1 Login
    p(v-if='errorMessage') {{ errorMessage }}
    form
      fieldset
        input(type="text" name="email" v-model="user.email")
      fieldset
        input(type="password" name="password" v-model="user.password")
      button(type="button" @click="authenticate") LOGIN
</template>

<script>
export default {
  data() {
    return {
      errorMessage: '',
      user: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    authenticate() {
      const login = async credentials => {
        try {
          if(!credentials) {
            // Try to authenticate using the JWT from localStorage
            await authenticate();
          } else {
            // If we get login information, add the strategy we want to use for login
            const payload = Object.assign({ strategy: 'local' }, credentials)
            await authenticate(payload);
          }
          // If successful, show the chat page
          // showChat();
          this.errorMessage = 'Success'
          location.href = '/messages'
        } catch(error) {
          // If we got an error, show the login page
          // showLogin(error);
          this.errorMessage = 'Error'
        }
      }
      console.log(this.user)
      login(this.user)
    }
  }
}
</script>
