<template lang="pug">
  #main
    nuxt-link(to="/") HOME
    h1 MESSAGES
    #userMedia
    br
    form
      input(id="messageJAN" name="messageJAN" type="text" size="24" v-model="message.JANCODE" required)
      br
      input(id="messageName" name="messageName" type="text" size="24" v-model="message.name" required autofocus)
      br
      input(name="message" type="number" v-model="message.stock")
      | &emsp;
      button(type="button" @click="increase") +
      | &emsp;
      button(type="button" @click="decrease") -
      | &emsp;
      button(type="button" @click="createMessage") SEND
      p.errorMessage(v-if="error") {{ errorMessage }}
    ul
      li.admin-messages(v-for="message in messages")
        span {{ message.JANCODE }}
        span &nbsp;|&nbsp;
        span {{ message.name }}
        span &nbsp;|&nbsp;
        span {{ message.stock }}
</template>

<script>
import Quagga from 'quagga'
import javascriptBarcodeReader from 'javascript-barcode-reader'
import { mapState, mapActions, mapGetters } from 'vuex'
export default {
  data () {
    return {
      error: false,
      errorMessage: 'Required',
      message: {
        JANCODE: '',
        name: '',
        stock: 1
      },
      name: 'admin-messages',
    }
  },
  computed: {
    ...mapState('messages', { areMessagesLoading: 'isFindPending' }),
    ...mapGetters('messages', { findMessagesInStore: 'find' }),
    query () {
      return {
      }
    },
    messages() {
      return this.findMessagesInStore({ query: this.query }).data
    }
  },
  created() {
    this.findMessages({ query: this.query })
  },
  mounted() {
    this.initBarcodeReader()
  },
  methods: {
    ...mapActions('messages', { findMessages: 'find' }),
    initBarcodeReader() {
      Quagga.init({
        inputStream : {
          name : "Live",
          type : "LiveStream",
          target: '#userMedia' // Or '#yourElement' (optional)
        },
        decoder : {
          readers : ['ean_reader']
        },
        multiple: false
      }, function(err) {
        if (err) {
          console.log(err);
          return
        }
        console.log("Initialization finished. Ready to start");
        Quagga.start();
      })
      Quagga.onDetected(result => {
        // console.log(result.codeResult.code)
        this.message.JANCODE = result.codeResult.code
        // document.querySelector('#messageJAN').value = result.codeResult.code
        // document.querySelector('#messageName').focus()
      })
    },
    createMessage() {
      if (!this.message.JANCODE) {
        this.error = true
      } else {
        this.error = false
        const { Message } = this.$FeathersVuex
        const message = new Message(this.message)
        message.create()
        this.message = {
          JANCODE: '',
          name: '',
          stock: 1
        }
      }
    },
    increase() {
      this.message.stock++
    },
    decrease() {
      this.message.stock--
    }
  },
}
</script>

<style lang="stylus">
input
  font-size 18px

#userMedia canvas
#userMediaCanvas
.drawingBuffer {
  display: none
}
</style>
